// Use of variable

$first-color: blue;

.test1 {
  background-color: $first-color;
}


// Mixins and conditional

@mixin webpage-color($color) {
  @if $color == "black" {
    background-color: black;
  } 
  @else {
    background-color: white;
  }
}

.test2 {
  @include webpage-color("black");
}